/* Seção do carrossel de slides */
section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    transition: margin-left 0.6s;
    /* Adiciona a transição suave */

}

.slider-expandir {
    margin-left: 300px;
    /* Ajusta a margem para empurrar o carrossel */
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    /* Adiciona a transição suave */
}

.slide-box img {

    width: 100%;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 22%;
    display: flex;
    justify-content: center;



}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #ffffff;
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #000000;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 60%;
    }
}

/* Conteúdo principal */
.slide {
    transition: margin-left 0.6s;
}

/* slide Meio */
.botao {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 50px 0;


}

.botao-texto {
    width: 700px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap: 10px;

}
.Img-Slide-Meio {
    display: block;
    width: 100%;
    max-width: 600px; /* Ajuste conforme necessário */
    height: auto;
}

.Img-Slide-Mobile {
    display: none; /* Inicialmente ocultar a imagem mobile */
}


@media screen and (max-width: 768px) {
    .Img-Slide-Meio {
        display: none; /* Ocultar a imagem desktop em telas pequenas */
    }

    .Img-Slide-Mobile {
        display: block;
        width: 100%;
        max-width: 400px; /* Ajuste conforme necessário */
        height: auto;
    }
}